@import '../../ui/colors.scss';

.chat {
  padding: 20px;
  background-color: $light-bg;
  border-radius: 10px;
  min-width: 310px;
  max-width: 600px;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #ffffff;

  &__item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
  }
}
