$default-font-family: 'Montserrat', sans-serif;
$default-font-size: 16px;

$text-sm: 0.875rem;
$text-md: 1rem;
$text-lg: 1.25rem;

$title-sm: 1rem;
$title-md: 2rem;
$title-lg: 3rem;
$title-xl: 4rem;
$title-xxl: 5rem;

$line-height-sm: 1;
$line-height-md: 1.25;
$line-height-lg: 1.5;
