@import '../../ui/colors.scss';
@import '../../ui/containers.scss';
@import '../../ui/page.scss';
@import '../../ui/fonts.scss';
@import '../../ui/breakpoints.scss';
@import '../../ui/shadows.scss';

.game-result {
  @extend .page;

  &__wrapper {
    padding: 0px 10%;
    margin-bottom: 100px;
    display: flex;
    gap: 50px;
    justify-content: space-between;

    @media (max-width: $screen-md) {
      flex-direction: column-reverse;
    }
  }

  &__results {
    flex-basis: 70%;

    @media (max-width: $screen-xxl) {
      flex-basis: 50%;
    }
    @media (max-width: $screen-xl) {
      flex-basis: 50%;
    }
    @media (max-width: $screen-lg) {
      flex-basis: 50%;
    }
  }

  &__chat-wrapper {
    height: 100%;
    position: relative;
    flex-basis: 30%;

    @media (max-width: $screen-xxl) {
      flex-basis: 40%;
    }
    @media (max-width: $screen-xl) {
      flex-basis: 40%;
    }
    @media (max-width: $screen-lg) {
      flex-basis: 50%;
    }
  }

  &__chat-wrapper &__chat {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    bottom: 80px;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  &__download-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__download-btn {
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  &__statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 120px;

    @media (max-width: $screen-md) {
      justify-content: center;
    }
  }

  &__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: $screen-md) {
      justify-content: center;
    }
  }

  &__statistic-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: $screen-md) {
      justify-content: center;
    }
  }

  &__statistic-wrapper &__statistics-issue {
    margin: 0;
    @media (max-width: $screen-md) {
      margin: 0 auto;
    }
  }

  &__statistics-percent {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: $text-lg;
    font-weight: 500;
  }
}
