@import '../../ui/shadows.scss';

.sp-option-card {
  $self: &;
  width: 8rem;
  height: 12rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: $basic-shadow;
  transition: 1s ease;

  &:hover {
    box-shadow: $basic-shadow-hover;

    #{ $self }__controls {
      pointer-events: all;
      opacity: 1;
    }
  }

  &__controls {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5;
    opacity: 0;
    transition: 0.5s opacity ease;
    pointer-events: none;
  }

  &--small {
    width: 7rem;
    height: 10.5rem;
  }

  &--large {
    width: 9rem;
    height: 13.5rem;
  }
}
