@import '../../ui/colors.scss';
@import '../../ui/containers.scss';
@import '../../ui/page.scss';
@import '../../ui/fonts.scss';
@import '../../ui/breakpoints.scss';
@import '../../ui/shadows.scss';

.lobby {
  @extend .page;

  &__wrapper {
    height: 100%;
    padding: 1rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    @extend .container;
    display: flex;
    flex-direction: column;
  }

  &__title {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    text-align: center;
    font-size: $title-md;
    color: $text-dark;
    margin-bottom: 3rem;
  }

  &__empty-text {
    font-size: $text-md;
    color: $text-dark;
    font-weight: 400;
  }

  &__section-title {
    font-size: $text-lg;
    font-weight: 500;
    line-height: $line-height-md;
    color: $text-dark;
  }

  .lobby__main-members {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__scram-master,
  &__current-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  &__members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  &__members_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
}
