@import '../../ui/colors.scss';
@import '../../ui/containers.scss';
@import '../../ui/page.scss';
@import '../../ui/fonts.scss';
@import '../../ui/breakpoints.scss';
@import '../../ui/shadows.scss';

.lobby {
  @extend .page;

  &__title {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    text-align: center;
    margin-bottom: 50px;

    @media (max-width: $screen-xl) {
      padding: 0px 60px;
    }

    @media (max-width: $screen-lg) {
      padding: 0px 40px;
    }

    @media (max-width: $screen-md) {
      padding: 0px 30px;
    }

    @media (max-width: $screen-sm) {
      padding: 0px 20px;
    }
  }

  &__scram-master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
    padding: 0px 160px;

    @media (max-width: $screen-xl) {
      padding: 0px 60px;
    }

    @media (max-width: $screen-lg) {
      padding: 0px 40px;
    }

    @media (max-width: $screen-md) {
      padding: 0px 30px;
      gap: 20px;
    }

    @media (max-width: $screen-sm) {
      padding: 0px 20px;
    }

    &_card-field-wrapper {
      display: flex;
      flex-direction: row;
      gap: 130px;

      @media (max-width: $screen-md) {
        gap: 50px;
      }

      @media (max-width: $screen-sm) {
        flex-direction: column;
        gap: 40px;
      }
    }

    &_card-field &_card {
      margin: 10px 0;
    }

    &_button-field {
      display: flex;
      gap: 50px;

      @media (max-width: $screen-sm) {
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  &__members {
    margin-bottom: 100px;
    padding: 0px 160px;

    @media (max-width: $screen-xl) {
      padding: 0px 60px;
    }

    @media (max-width: $screen-lg) {
      padding: 0px 40px;
    }

    @media (max-width: $screen-md) {
      padding: 0px 30px;
    }

    @media (max-width: $screen-sm) {
      padding: 0px 20px;
    }

    &_title {
      text-align: center;
      margin-bottom: 30px;

      @media (max-width: $screen-xl) {
        padding: 0px 60px;
      }

      @media (max-width: $screen-lg) {
        padding: 0px 40px;
      }

      @media (max-width: $screen-md) {
        padding: 0px 30px;
      }

      @media (max-width: $screen-sm) {
        padding: 0px 20px;
      }
    }

    &_members-field {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      @media (max-width: $screen-md) {
        justify-content: center;
      }
    }

    &_members-field &_card {
      margin: 0;
    }
  }
}
