@import '../../ui/colors.scss';

.file-input {
  $self: &;
  padding: 0.375rem 0.75rem;

  color: $text-dark-secondary;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;

  border: 1px solid $text-dark-secondary;
  border-radius: 0.4rem;
  outline: none;
  background: transparent;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.3s ease-in-out;
  display: inline-block;

  &:hover {
    cursor: pointer;
    color: $text-dark;
    border: 1px solid $text-dark;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
  }

  &__label {
    max-width: 9.15ch;
    word-wrap: normal;
    word-break: normal;
    overflow-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  &__field {
    display: none;
  }

  &--disabled {
    pointer-events: none;
    cursor: none;
    color: $text-light;
    border: 1px solid $text-dark-secondary;
    background-color: $text-dark-secondary;
  }

  &--small {
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.25rem 0.5rem;
    border-radius: 0.3rem;

    & #{ $self }__container {
      column-gap: 0.5rem;
    }
  }

  &--large {
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;

    & #{ $self }__container {
      column-gap: 0.5rem;
    }
  }

  &--filled {
    color: $text-light;
    border: 1px solid $text-dark-secondary;
    background-color: $text-dark-secondary;

    &:hover {
      color: $text-light;
      border: 1px solid $dark;
      background-color: $dark;
    }
  }

  &--primary {
    color: $primary;
    border: 1px solid $primary;

    &:hover {
      color: $primary-active;
      border: 1px solid $primary-active;
    }

    &#{ $self }--filled {
      color: $text-light;
      background-color: $primary;

      &:hover {
        background-color: $primary-active;
      }
    }

    &#{ $self }--disabled {
      color: $text-light;
      background-color: $primary-disabled;
      border-color: $primary-disabled;
    }
  }

  &--warning {
    color: $warning;
    border: 1px solid $warning;

    &:hover {
      color: $warning-active;
      border: 1px solid $warning-active;
    }

    &#{ $self }--filled {
      color: $text-light;
      background-color: $warning;

      &:hover {
        background-color: $warning-active;
      }
    }

    &#{ $self }--disabled {
      color: $text-light;
      background-color: $warning-disabled;
      border-color: $warning-disabled;
    }
  }

  &--danger {
    color: $danger;
    border: 1px solid $danger;

    &:hover {
      color: $danger-active;
      border: 1px solid $danger-active;
    }

    &#{ $self }--filled {
      color: $text-light;
      background-color: $danger;

      &:hover {
        background-color: $danger-active;
      }
    }

    &#{ $self }--disabled {
      color: $text-light;
      background-color: $danger-disabled;
      border-color: $danger-disabled;
    }
  }

  &--success {
    color: $success;
    border: 1px solid $success;

    &:hover {
      color: $success-active;
      border: 1px solid $success-active;
    }

    &#{ $self }--filled {
      color: $text-light;
      background-color: $success;

      &:hover {
        background-color: $success-active;
      }
    }

    &#{ $self }--disabled {
      color: $text-light;
      background-color: $success-disabled;
      border-color: $success-disabled;
    }
  }

  &--dark {
    color: $dark;
    border: 1px solid $dark;

    &:hover {
      color: $dark-active;
      border: 1px solid $dark-active;
    }

    &#{ $self }--filled {
      color: $text-light;
      background-color: $dark;

      &:hover {
        background-color: $dark-active;
      }
    }

    &#{ $self }--disabled {
      color: $text-light;
      background-color: $dark-disabled;
      border-color: $dark-disabled;
    }
  }

  &--light {
    color: $light;
    border: 1px solid $light;

    &:hover {
      color: $light-active;
      border: 1px solid $light-active;
    }

    &#{ $self }--filled {
      color: $text-light;
      background-color: $light;

      &:hover {
        background-color: $light-active;
      }
    }

    &#{ $self }--disabled {
      color: $text-dark-secondary;
      background-color: $light-disabled;
      border-color: $light-disabled;
    }
  }
}
