@import '../../ui/colors.scss';
@import '../../ui/fonts.scss';
@import '../../ui/shadows.scss';

.sp-creation-card {
  width: 8rem;
  height: 12rem;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: $basic-shadow;
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: $basic-shadow-hover;
  }

  &__container {
    width: 7rem;
    height: 11rem;
    border: 2px solid $light-active;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid $dark-disabled;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__plus-icon {
    color: $dark-disabled;
    width: 2rem;
    height: 2rem;
  }
}
