@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../ui/colors.scss';
@import '../ui/fonts.scss';

body {
  box-sizing: border-box;
  margin: 0;

  font-family: $default-font-family;
  font-size: $default-font-size;
  line-height: $line-height-md;
  font-weight: 400;
  background-color: $light-bg;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
