@import '../../ui/colors.scss';
@import '../../ui/containers.scss';

.header {
  $self: &;
  width: 100%;
  min-height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;

  &__container {
    @extend .container_large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__chat {
    width: 1.75rem;
    height: auto;
    fill: $text-dark;
    transition: 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      fill: $primary-active;
    }
  }

  @media (max-width: 576px) {
    &--centered {
      & #{ $self }__container {
        justify-content: center;
      }
    }
  }
}

.logo {
  $self: &;

  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      & #{ $self }__name {
        color: $primary-active;
      }
    }
  }

  &__img {
    width: 1.75rem;
    height: auto;
  }

  &__name {
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 800;
    margin-left: 1rem;
    color: $text-dark;
    transition: 0.3s ease-in-out;
  }

  @media (max-width: 576px) {
    .logo {
      &__name {
        display: none;
      }
    }
  }
}
