$primary: #8076fe;
$primary-active: #655be1;
$primary-disabled: #aba4ff;

$warning: #f9bc40;
$warning-active: #efa103;
$warning-disabled: #ffd37b;

$danger: #ff524f;
$danger-active: #ce3b38;
$danger-disabled: #ff8b89;

$success: #1cda95;
$success-active: #12bb7e;
$success-disabled: #5debb8;

$dark: #433f5b;
$dark-active: #262436;
$dark-disabled: #6c6e89;

$light: #dcdcec;
$light-active: #d4d4e6;
$light-disabled: #ececf5;

$text-dark: #262436;
$text-dark-secondary: #6c6e89;

$text-light: #f5f5f5;
$text-light-secondary: #dcdcec;

$light-bg: #f3f2f8;
