@import '../../ui/colors.scss';
@import '../../ui/fonts.scss';
@import '../../ui/shadows.scss';

.chat-message {
  display: flex;
  gap: 1rem;
  width: 100%;

  &.current-user {
    justify-content: end;
  }

  &__avatar {
    flex-shrink: 0;
  }

  &__hidden-avatar {
    width: 64px;
  }

  &__item {
    max-width: 100%;
    padding: 12px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: $basic-shadow;
    width: fit-content;
    position: relative;

    &.members::before {
      content: '';
      position: absolute;
      left: -10px;
      bottom: 6px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 0 solid transparent;
      border-bottom: 10px solid #fff;
      clear: both;
    }

    &.current-user::after {
      content: '';
      position: absolute;
      right: -10px;
      bottom: 6px;
      width: 0;
      height: 0;
      border-right: 10px solid transparent;
      border-left: 0 solid transparent;
      border-bottom: 10px solid #fff;
      clear: both;
    }

    &_name {
      font-weight: bold;
      font-size: $text-md;
      color: $primary;
    }
  }
}

.chat-message__item_text {
  max-width: 100%;
  word-wrap: break-word;
}
