@import '../../ui/colors.scss';

.avatar {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;

  .avatar__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &.avatar_empty {
    background-color: $light;

    & .avatar__icon {
      height: 50px;
      width: 50px;
      color: $dark;
    }
  }

  &_large {
    width: 120px;
    height: 120px;

    &.avatar_empty .avatar__icon {
      height: 76px;
      width: 76px;
    }
  }

  &_small {
    width: 60px;
    height: 60px;

    &.avatar_empty .avatar__icon {
      height: 38px;
      width: 38px;
    }
  }
}
