@import '../../ui/colors.scss';
@import '../../ui/fonts.scss';
@import '../../ui/shadows.scss';

.sp-card {
  $self: &;
  margin: 2rem;
  width: 8rem;
  height: 12rem;
  background-color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  box-shadow: $basic-shadow;
  color: $dark;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: $basic-shadow;
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: $basic-shadow-hover;

    #{ $self }__controls {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__controls {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5;
    opacity: 0;
    transition: 0.5s opacity ease;
    pointer-events: none;
  }

  &__container {
    position: relative;
    width: 7rem;
    height: 11rem;
    border: 2px solid $light;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  &__top-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  &__body {
    width: 100%;
    font-size: 50px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__bottom-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transform: rotate(180deg);
    z-index: 1;
  }

  &__circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid $dark;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__question-icon {
    width: 2rem;
    height: 2rem;
  }
}
